#snap-ui {
    margin: auto;
    width: 15%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: -50px;
    display: none;
  }

#game-container {
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: -80px;
  display: none;
}